# Entornos virtuales
.venv/
venv/
env/

# Configuración IDE
.vscode/

# Archivos Python compilados
__pycache__/
*.pyc

# Ignorar modelos serializados
*.pkl

# Opcional: otros formatos comunes
*.joblib
*.h5
*.pt
*.sav

# Carpetas típicas
__pycache__/
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/

#Descargas de imagenes, datos, etc
PetImages/
*.zip

#Resultados de ejecución de modelos
runs/

#Descarga de datasets de roboflow
Detección-de-personajes-SMB-1/